<?xml version="1.0" encoding="UTF-8"?>
<web-app id="password" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" metadata-complete="true">

    <display-name>Ubilogin Password</display-name>

    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>fi</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
        <param-value>fi</param-value>
    </context-param>
    
    <context-param>
        <param-name>mail-session</param-name>
        <param-value>mail/Session</param-value>
    </context-param>    
       
    <resource-ref>
        <res-ref-name>mail/Session</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

  <!-- context-param>
        <param-name>mail.smtp.host</param-name>
        <param-value>smtp-gw.example.com</param-value>
    </context-param>
    <context-param>
        <param-name>mail.smtp.from</param-name>
        <param-value>password@example.com</param-value>
    </context-param-->

  <context-param>
    <param-name>log-level</param-name>
    <param-value>debug</param-value>
  </context-param>

	<filter>
        <filter-name>org.apache.catalina.filters.CorsFilter#disabled</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
        	<param-name>cors.allowed.origins</param-name>
        	<param-value>null</param-value>
        </init-param>
        <init-param>
        	<param-name>cors.support.credentials</param-name>
        	<param-value>false</param-value>
        </init-param>
	</filter>
	
    <filter>
        <filter-name>SetEncodingFilter</filter-name>
        <filter-class>com.ubisecure.util.filter.SetEncodingFilter</filter-class>
        <init-param>
            <param-name>com.ubisecure.util.filter.encoding.name</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>ServiceProviderFilter</filter-name>
        <filter-class>com.ubisecure.saml2.sp.servlet.ServiceProviderFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>org.apache.catalina.filters.CorsFilter#disabled</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SetEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ServiceProviderFilter</filter-name>
        <servlet-name>com.ubisecure.ubilogin.password.change.ChangeServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ServiceProviderFilter</filter-name>
        <servlet-name>com.ubisecure.ubilogin.password.change.CompletedServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ServiceProviderFilter</filter-name>
        <url-pattern>/script/statuscheck.jsp</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.ubisecure.ubilogin.password.ApplicationContext</listener-class>
    </listener>

    <servlet>
        <servlet-name>ServiceProviderServlet</servlet-name>
        <servlet-class>com.ubisecure.saml2.sp.servlet.ServiceProviderServlet</servlet-class>
        <init-param>
        <param-name>listener-class</param-name>
        <param-value>
<!--         
        status.StatusCheckLoginEventListener
-->        
        com.ubisecure.ubilogin.password.change.LoginEventListener
        </param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>com.ubisecure.ubilogin.password.change.ChangeServlet</servlet-name>
        <servlet-class>com.ubisecure.ubilogin.password.change.ChangeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.ubisecure.ubilogin.password.change.CompletedServlet</servlet-name>
        <servlet-class>com.ubisecure.ubilogin.password.change.CompletedServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.ubisecure.ubilogin.password.reset.ResetServlet</servlet-name>
        <servlet-class>com.ubisecure.ubilogin.password.reset.ResetServlet</servlet-class>
        <!-- init-param>
        <param-name>frontend-url</param-name>
        <param-value>http://example.com</param-value>
        </init-param -->
        <init-param>
        <param-name>mail-challenge</param-name>
        <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>com.ubisecure.ubilogin.password.reset.MailServlet</servlet-name>
        <servlet-class>com.ubisecure.ubilogin.password.reset.MailServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.ubisecure.ubilogin.password.reset.InputServlet</servlet-name>
        <servlet-class>com.ubisecure.ubilogin.password.reset.InputServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.ubisecure.ubilogin.password.reset.CompletedServlet</servlet-name>
        <servlet-class>com.ubisecure.ubilogin.password.reset.CompletedServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.ubisecure.ubilogin.password.reset.InvalidateServlet</servlet-name>
        <servlet-class>com.ubisecure.ubilogin.password.reset.InvalidateServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>com.ubisecure.ubilogin.password.reset.ReturnServlet</servlet-name>
        <servlet-class>com.ubisecure.ubilogin.password.reset.ReturnServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.ubisecure.ubilogin.password.reset.NoReturnServlet</servlet-name>
        <servlet-class>com.ubisecure.ubilogin.password.reset.NoReturnServlet</servlet-class>
    </servlet>    
        

    <servlet-mapping>
        <servlet-name>ServiceProviderServlet</servlet-name>
        <url-pattern>/spsso/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.ubisecure.ubilogin.password.change.ChangeServlet</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.ubisecure.ubilogin.password.change.CompletedServlet</servlet-name>
        <url-pattern>/change-completed</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.ubisecure.ubilogin.password.reset.ResetServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.ubisecure.ubilogin.password.reset.MailServlet</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.ubisecure.ubilogin.password.reset.CompletedServlet</servlet-name>
        <url-pattern>/reset-completed</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.ubisecure.ubilogin.password.reset.InputServlet</servlet-name>
        <url-pattern>/input</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.ubisecure.ubilogin.password.reset.InvalidateServlet</servlet-name>
        <url-pattern>/reset-invalidate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.ubisecure.ubilogin.password.reset.ReturnServlet</servlet-name>
        <url-pattern>/return</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.ubisecure.ubilogin.password.reset.NoReturnServlet</servlet-name>
        <url-pattern>/noreturn</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>change</welcome-file>
    </welcome-file-list>
    
</web-app>
