master.secret=JqqlIi(VH!rEK)%6Z7ev4qY2
uas.url=https://sso.example.com
eidm.url=https://cid.example.com
proxy.local.url=@eidm.url@
rest.username=restuser
rest.password=restpwd

ldap.url=ldap://ubisecure-ldap:389
ldap.suffix=cn=Ubilogin,dc=localhost
ldap.principal=cn=eidm2,ou=eIDM Services,@ldap.suffix@
ldap.password=DhY8e*S5t!jnYzSs

database.host=ubisecure-sql
database.port=5432
database.name=customeriddb
database.user=customerid_user
database.password=+hn%4=xJ^aGPpjgt

wildfly.home=/opt/jboss/wildfly
wildfly.http.port=7080
wildfly.https.port=7443
wildfly.ip_addr.master=ubisecure-cid-master
wildfly.ip_addr.slave=ubisecure-cid-slave
wildfly.slave.password=uT4EkYhTYsqyGa2W

database.driver.path=/usr/local/ubisecure/
database.driver.file=postgresql-42.0.0.jar

keystore.alias=wildfly
keystore.password=changeit

# host name or IP address of mail server
mail.host =  localhost
# TCP port of mail server
mail.port = 25
# mail server user account (leave empty if not used)
mail.username = 
# mail server user account's password (leave mail.username empty if not used)
mail.password =
# mail sender email address (remember to double @ to @@)
mail.from = 
# mail ssl setting (true for SSL and empty if SSL is not used)
mail.ssl =
