<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="$${ctx:remote-addr:--} $${ctx:sub:--} [%d{ISO8601}{UTC}] [%p] %c{2} %msg%n" />
        </Console>
        <Syslog name="Syslog" host="ubisecure-syslog" port="514" protocol="UDP" charset="ISO-8859-1" facility="LOCAL4">
        </Syslog>
    </Appenders>
    <Loggers>
        <Logger name="com.globalsign.iam.sso.api" level="info">
            <AppenderRef ref="Syslog" />
        </Logger>
        <Logger name="com.globalsign.iam.sso.api.directory.util.SearchUtil" level="info" />
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>