<?xml version="1.0" encoding="iso-8859-1"?>
<Server port="-1">
    <Service name="SSO">
		<Connector port="8080" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443" />
			   
        <Engine name="SSO" defaultHost="sso.example.com">
            <Host name="sso.example.com" appBase="404" 
                unpackWARs="false" autoDeploy="false">

                <Valve className="org.apache.catalina.valves.AccessLogValve"
                    directory="logs"  prefix="sso_access_log" 
                    suffix=".txt" pattern="common" 
                />

                <Context path="" docBase="${catalina.base}/webapps/ROOT"/>
                <Context path="/uas" docBase="${catalina.base}/webapps/uas"/>
                <Context path="/ubilogin" docBase="${catalina.base}/webapps/ubilogin"/>
                <Context path="/logviewer" docBase="${catalina.base}/webapps/logviewer"/>
				<!-- 
                <Context path="/search" docBase="${catalina.base}/webapps/search"/>
                <Context path="/sso-api" docBase="${catalina.base}/webapps/sso-api"/>
                <Context path="/cdc" docBase="${catalina.base}/webapps/cdc"/>
                <Context path="/password" docBase="${catalina.base}/webapps/password"/>
                <Context path="/otpserver" docBase="${catalina.base}/webapps/otpserver"/>          
				-->
            </Host>
        </Engine>
    </Service>
</Server>
