#unix.config

master.secret=JqqlIi(VH!rEK)%6Z7ev4qY2
suffix.pfx =

uas.url=https://sso.example.com
ubilogin.url = @uas.url@
logviewer.url = @ubilogin.url@
search.url = @ubilogin.url@
password.url = @uas.url@
sso-api.url = @ubilogin.url@

logs.dir = @compile.dir@/logs
netmask = disabled
system.password = system

ldap.url = ldap://ubisecure-ldap:389
suffix = cn=Ubilogin,dc=localhost
password.encoding = {SSHA}

proxy.remote-addr-name=
proxy.local.url=@uas.url@

tomcat.instancename = ubilogin-server

openldap.instancename = ubilogin-directory
openldap.root = uid=System,ou=System,@suffix@
openldap.root.password = secret

ubilogin.unix.username=root
ubilogin.unix.groupname=root

ubilogin.run = /var/run/ubilogin

